# General NLP tools
pandas
openpyxl
striprtf
python-Levenshtein
spacy

# Tools specifically for running LLMs
# You will also need torch for your specific platform
transformers
accelerate
protobuf
sentencepiece
